<div class="main-container p-4">

  <header class="header-nav flex items-center pl-4">
    <h2 class="text-white">Streamline</h2>
  </header>

  <section class="page-title">

  </section>

  <section class="main-content">
    {{outlet "content"}}    

  </section>

  <div class="side-info">
    {{outlet}}
  </div>

  <div class="footer">

  </div>

</div>

